@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    background-image: linear-gradient( to top right, rgb(28, 119, 10)  , rgb(251, 255, 34) );
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#text-container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 5px;
}

#button-container{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#next , #prev{
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: rgb(24, 61, 20);
    color: white;
    transition: all 0.15s;
}

#webpage{
    padding: 10px 15px 10px 15px;
    margin: 20px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: rgb(24, 61, 20);
    color: white;
    transition: all 0.15s;
}

#next:hover , #prev:hover , #webpage:hover {

    background-color: white;
    color: rgb(24, 61, 20);

}